body{

    background-color: white;
}

.card{
    border-radius: 30px;
    width: 5vw;
    object-fit: none;
    
}

.expanded-card {

    border-radius: 30px;
    width: 60vw;
    object-fit: cover;

}

.image-container{

    height: 75vh;
    display: flex;
    gap: 2vw;
    margin-top: 15vh;
    margin-left: 5vw;

}